@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  padding: 2em 10em 10em 10em;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgb(218, 173, 52) 0%, rgba(220,177,106,1) 52%, rgb(196, 202, 102) 100%);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  align-items: center;
}